// overwrites
$enable-rounded: false;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$grid-breakpoints: map-merge(
  (
    xxl: 1600px
  ),
  $grid-breakpoints
);

$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xxl: 1540px
  ),
  $container-max-widths
);

/*
// bootstrap: required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";

// Bootstrap UI elements
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/list-group";

@import "../../node_modules/bootstrap/scss/media";
*/

@import "../../node_modules/bootstrap/scss/bootstrap";

// animation
//@import "../../node_modules/hover.css/scss/hover";
//@import "../../node_modules/animate.css/animate";

// own styles

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

#main-container {
  padding-top: 0.6rem;
  min-height: 100vh;
}

#nav {
  height:100vh;
  background: rgb(36, 36, 37);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 20rem;

  box-shadow:  0px 0px 12px 0px rgba(0,0,0,0.75);

  .list-group-item {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);

    &:hover {
      border-left: solid #6e4ec4 5px;
      background-color:  rgba(255, 255, 255, 0.3);
    }
  }
}
